.card-wrapper,
.card-outer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper,
.color-panel .card-list {
  list-style: none;
  margin: 0;
}

.card {
  background-color: $white;
  border-top: 10px solid;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  width: 270px;
}

.color-panel-list {
  border-top-width: 10px;
}

.card-text {
  clear:  both;
}
